name: 'TEST CODE'
on: 

  workflow_dispatch:
jobs:
  build:
    name: 'Xem quá trình...'
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: 'Xem thông báo'
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          # Rom Rebuild
          export SIZE='8.5'; export URL='https://pixeldrain.com/api/file/eqha2c2w'
          chmod -R 777 .github/bin/* >/dev/null
          export PATH="$GITHUB_WORKSPACE/.github/bin:$PATH"
          chmod -R 777 .github/*.sh >/dev/null
          bash .github/Test.sh
